<mat-toolbar color="primary" class="justify-content-between">
  <h2>App</h2>
  <button (click)="authService.logout()" *ngIf="authService.isLogged | async" mat-raised-button>Logout</button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
