<div class="wrapper">
  <mat-card>
    <form [formGroup]="loginForm">
      <h2>Sign in</h2>
      <small>pass: test</small>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" type="text" matInput />
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <button (click)="login()" mat-stroked-button>login</button>
    </form>
  </mat-card>
</div>
