.wrapper {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
}
