<h2 mat-dialog-title>Product Info</h2>

<div mat-dialog-content>
  <form [formGroup]="productForm" (ngSubmit)="handleSaveForm()" class="row">
    <mat-form-field class="col-md-8">
      <mat-label>Product name</mat-label>
      <input type="text" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <mat-label>Product price</mat-label>
      <input type="number" matInput formControlName="price" />
      <mat-icon matSuffix>euro_symbol</mat-icon>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <mat-select multiple formControlName="categories">
        <mat-option [value]="category" *ngFor="let category of categories">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepickerFilter]="filterDates" [matDatepicker]="picker" formControlName="shelfLife" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" [disabled]="productForm.invalid" (click)="handleSaveForm()">Save</button>
</div>
