<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Products</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content [style.height.px]="100">
        <p>Price: {{ product.price | currency }}</p>
        <p>
          Categories:
          <span *ngFor="let category of product.categories; let i = index">
            {{ i === product.categories.length - 1 ? category.name + '' : category.name + ', ' }}
          </span>
        </p>
        <p>Shelf life: {{ product.shelfLife | date : 'short' }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="productService.deleteProduct(product)" mat-button color="warn">Delete</button>
        <button (click)="handleProductModal(product)" mat-button color="primary">Edit</button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="handleProductModal()" mat-button>Add product</button>
  </mat-card-actions>
</mat-card>
